<html>
  <head>
	<meta http-equiv="refresh" content="10">
  </head>
  <body>
	<H1>SatNetMiniSim</H1>
	<p>
	Network: {{ info["rings"] }} Rings x {{ info["ring_nodes"] }} Nodes
	<p>	
	Time: {{ info["current_time"] }},
	Run Time: {{ info["run_time"] }}
	<p>
	Connectivity: Fail - {{ info["stats_total"] - info["stats_good"] }},
		      Good - {{ info["stats_good"] }}
	<p>
	<input type="button" onclick="location.href='shutdown';" value="Shutdown"/>
	<p>

	<table>
   	    <tr>
	        <th>Failed Connections</th>
	        <th>Good Connections</th>
   	    </tr>
   	    <tr>
		<td>
		    <div style="width: 500px;">
		    <canvas id="fail_chart"/>
	 	    </div>
		</td>
		<td>
		    <div style="width: 500px;">
		    <canvas id="ok_chart"/>
	 	    </div>
		</td>
	    </tr>
	</table>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.3.0/chart.umd.js" 
		integrity="sha512-CMF3tQtjOoOJoOKlsS7/2loJlkyctwzSoDK/S40iAB+MqWSaf50uObGQSk5Ny/gfRhRCjNLvoxuCvdnERU4WGg==" 
		crossorigin="anonymous" 
		referrerpolicy="no-referrer"></script>

    <script> 

            const data_fail = [
		{% for entry in info["stats"] %}
				{{ entry[2]  - entry[1]}},
		{% endfor %}
		    ];

    	    const data_ok = [
		{% for entry in info["stats"] %}
		      {{entry[1]}},
		{% endfor %}
	    ];
	    const dates = [
		{% for entry in info["stats"] %}
		'{{ entry[0] }}',
		{% endfor %}
 	    ];

    new Chart(
        document.getElementById('fail_chart'),
        {
            type: 'line',
            data: {
                labels: dates,
                datasets: [
                    {
                        label: 'Pings',
                        data: data_fail
                    },
               ]
            }
        }
    );
 
    new Chart(
        document.getElementById('ok_chart'),
        {
            type: 'line',
            data: {
                labels: dates,
                datasets: [
                    {
                        label: 'Pings',
                        data: data_ok
                    }
                ]
            }
        }
    );
  </script>

  	<h2>Ground Stations</h2>
	<ul>
	{% for entry in info["stations"] %}
		<li>Station: 
			<a href="{{ url_for('view_station', name=entry.name) }}">
				{{ entry.name }} 
			</a>
			{{ entry.defaultIP() }}
			<ul>
			{% for link in entry.uplinks %}
			<li>
				Uplink: {{ link.sat_name }} {{ link.distance }} km
			</li>
			{% endfor %}
			</ul>
		</li>
	{% endfor %}
	</ul>

	<h2>Routers ({{ info["routers"]|length }}) </h2>
	<ul>
	{% for entry in info["routers"] %}
	<li> <a href="{{ url_for('view_router', node=entry[0]) }}">
			{{ entry[0] }} </a>: {{ entry[1] }}
	{% endfor %}
	</ul>

	<h2>Links ({{ info["links"]| length}})</h2>
	<ul>
	{% for entry in info["links"] %}
	<li> <a href="{{ url_for('view_link', node1=entry[0], node2=entry[1]) }}">
			{{ entry[0] }}-{{ entry[1] }} </a> : {{ entry[2] }}
	{% endfor %}
	</ul>


	<h2>Events</h2>
	<ul>
	{% for entry in info["events"] %}
	<li> {{ entry[0] }}: {{ entry[1] }}
	{% endfor %}
	</ul>
  </body>
</html>
